# Walmart Trip Classification

<br>
<br>

In [1]:
import pandas as pd
import numpy as np

walmart = pd.read_csv('train.csv')

walmart.head()

   TripType  VisitNumber  ...  DepartmentDescription  FinelineNumber
0       999            5  ...     FINANCIAL SERVICES          1000.0
1        30            7  ...                  SHOES          8931.0
2        30            7  ...          PERSONAL CARE          4504.0
3        26            8  ...  PAINT AND ACCESSORIES          3565.0
4        26            8  ...  PAINT AND ACCESSORIES          1017.0

[5 rows x 7 columns]

### Data description from the competition page...

<br>


TripType - a categorical id representing the type of shopping trip the customer made. This is the ground truth that you are predicting. TripType_999 is an "other" category. <br>
<br>
VisitNumber - an id corresponding to a single trip by a single customer <br>
<br>
Weekday - the weekday of the trip <br>
<br>
Upc - the UPC number of the product purchased <br>
<br>
ScanCount - the number of the given item that was purchased. A negative value indicates a product return. <br>
<br>
DepartmentDescription - a high-level description of the item's department <br>
<br>
FinelineNumber - a more refined category for each of the products, created by Walmart <br>

In [5]:
walmart.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 647054 entries, 0 to 647053
Data columns (total 7 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   TripType               647054 non-null  int64
 1   VisitNumber            647054 non-null  int64
 2   Weekday                647054 non-null  object
 3   Upc                    642925 non-null  float64
 4   ScanCount              647054 non-null  int64
 5   DepartmentDescription  645693 non-null  object
 6   FinelineNumber         642925 non-null  float64
dtypes: float64(2), int64(3), object(2)
memory usage: 34.6+ MB

In [6]:
walmart.describe()

            TripType    VisitNumber  ...      ScanCount  FinelineNumber
count  647054.000000  647054.000000  ...  647054.000000   642925.000000
mean       58.584511   96167.640078  ...       1.108878     3726.884567
std       157.635533   55545.485154  ...       0.700776     2780.966158
min         3.000000       5.000000  ...     -12.000000        0.000000
25%        27.000000   49268.000000  ...       1.000000     1404.000000
50%        39.000000   97074.000000  ...       1.000000     3352.000000
75%        40.000000  144316.000000  ...       1.000000     5501.000000
max       999.000000  191347.000000  ...      71.000000     9998.000000

[8 rows x 5 columns]

In [7]:
walmart.isnull().sum()

TripType                    0
VisitNumber                 0
Weekday                     0
Upc                      4129
ScanCount                   0
DepartmentDescription    1361
FinelineNumber           4129
dtype: int64

So, UPC number and FineLineNumber have the same amount of null values -- could be that these items did not have scannable bar codes.

<br>
<br>

DepartmentDescription null values are likely due to them not being recorded